.poster {
  height: 200px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: content-box;
  background-color: #053742;
  background-size: contain;
  background-position: left center;
}
